.auth-title
  font-size 1.6em

.margin-top-right-10
  margin 14px  10px 0 -10px

.margin-top-10
  margin-top 10px

.self-font-weight-700
  font-weight 700

.width-80per-margin-auto
  width 80%
  margin 0 auto
  
//登陆界面的logo背景
#login1
  position absolute
  width 20%
  height 40%
  left 120px
  top 56px
  background:url("./logob.png")
  background-repeat no-repeat
  background-size 100%
#login2
  position absolute
  width 20%
  height 40%
  right 120px
  top 56px
  background:url("./logob.png")
  background-repeat no-repeat
  background-size 100%
.role-btn
  background:transparent;
  border:none;
  border-radius: 0;
  padding:0 5px 0 0 ;
