li
  list-style-type none

.thumbnail
  position relative
  padding 0
  .caption
    padding 0
  .icon-bar
    position absolute
    top 0
    right 0
    display flex
    justify-content flex-end
    align-items top
    width 100%
    background #dff0d8
    opacity 0.7
    z-index 100
    li
      margin-right 10px
      .btn
        background transparent
        border none
        border-radius 0
        padding 0
      .fa-btn
        color red


.project-modal
  display block
  padding 0 auto
  line-height 1.42857
  box-sizing border-box
  background transparent
  transition border .2s ease-in-out 0s
  .inner-project-modal
    height 140.8px
    padding 12px
    border 1px dotted #ddd
    border-radius 4px
    .modal-trigger
      display block
      height 46px
      line-height: 34px
      font-size 2em
      margin 12% auto
      background transparent
      .fa-btn
        margin-right 0

